
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom, #114357, #abb3c3);
      color: rgb(0, 0, 0);
    }

    .navbar {
      overflow: hidden;
      background-color: #f4f4f4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

    .webdev-title {
      font-size: 14px;
      color: #000000;
      margin-bottom: 10px;
    }

    .navbar a {
      font-size: 14px;
      color: #000000;
      text-decoration: none;
      margin: 0 10px;
    }

    .subnav {
      float: left;
      overflow: hidden;
    }

    .subnav .subnavbtn {
      font-size: 14px;
      border: none;
      outline: none;
      color: #000000;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar a:hover, .subnav:hover .subnavbtn {
      background-color: #fa8072;
    }

    .subnav-content {
      display: none;
      position: absolute;
      left: 0;
      background-color: #fa8072;
      width: 100%;
      z-index: 1;
    }

    .subnav-content a {
      float: left;
      color: #000000;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .subnav-content a:hover {
      background-color: #b7b7b7;
      color: #114357;
    }

    .subnav:hover .subnav-content {
      display: block;
    }

    .portfolio-header {
      text-align: center;
      padding: 40px;
    }

    .portfolio-title {
      font-size: 2em;
      color: #f4f4f4;
      margin-bottom: 10px;
    }

    .portfolio-description {
      font-size: 1.2em;
      color: #f4f4f4;
    }

    .portfolio-container {
      padding: 20px;
      max-height: calc(102vh - 200px);
      overflow-y: auto;
    }

    .portfolio-item {
      width: 80%;
      margin: 20px auto;
      padding: 20px;
      background-color: #f4f4f4;
      border: 1px solid #114357;
      border-radius: 0;
      overflow: hidden;
    }

    .project-image {
      width: 80 - 100px;
      height: 100px;

      float: right;
      margin-right: 20px;
    }

    .project-text {
      float: left;
    }

    .project-title {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    .project-description {
      font-size: 1em;
    }
